@charset "utf-8";
/* CSS Document */

body, header, section, aside, footer, nav {
	display: block;
}

* {
	padding: 0px;
	margin: 0px;
		
}

body{
	
	height: auto;	
	background-image: url(assets/cinema.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center 0;
	background-color: black;
}

h1 {
    margin-top: 15px;
	font-family: Goudy, Bell MT, Bodoni MT, Times New Roman, serif;
	font-size: 2em;
	text-align: center;
}

h2 {
    margin-top: 10px;
	font-family: Monotype Corsiva, Lucida Calligraphy, script;
	font-size: 2.25em;
	text-align: center;
    color: #B60823;
}

.contact {
	width: 70%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	font-family: Gill Sans, Myriad Pro, Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: gray;
}

.container {
	width: 60%;
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	font-family: Baskerville, Bell MT, Bodoni MT, Goudy Old Style, serif;
	font-size: 1em;
	text-align: center;
	color: white;

}
.about {
	font-family: Baskerville, Bell MT, Bodoni MT, Goudy Old Style, serif;
	text-align: justify;
	font-size: 1.25em;
	line-height: 150%;
}
	
.body_text {
	font-family: Gill Sans, Myriad Pro, Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	text-align: justify; 
	text-decoration: none;
	margin-top: 10px;
	padding-left: 30px;
}

.sidebar1 {
	text-align: center;
	float: left;
	width: 210px;
	height: 200px;
	padding-right: 50px;
	padding-left: 20px;
	text-align: left; 
	font-family: Baskerville, Bell MT, Bodoni MT, Goudy Old Style, serif;
	font-size: 1em;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background: black;
	font-family: Gill Sans, Myriad Pro, Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: white;
	text-align: center;
}

.movie {
	display: block;
	width: 640px; 
	height: 360px;
	margin: 0 auto;
	overflow-x: auto;
	overflow-y: hidden;
	resize: both;


}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}


	
	



@media (max-width:900px){
	h1,h2{text-align: center;}
	.sidebar1{float: center;
	width:40%;
	height: 250px;}
	.body_text{font-size:.9em;
	margin-top: 5px;
	padding-left:10px;}
	.container {width: 80%;
	padding: 10px;}
	.movie {width:426px;
	height: 240px;}
	.contact {width: 100%;
	text-align: center;}
}

@media (max-width:570px){
	h1,h2{font-size: 1.5em}
	.sidebar1{float: center;
	width:100%;
	height: 200px;}
	.body_text{font-size:.9em;
	margin-top: 5px;
	padding-left:10px;}
	.container {width: 100%;
	padding: 10px;}
	.movie {width:350px;
	height: 200px;}
	.contact {width: 100%}
	.about {font-size: 1em}
}

@media (max-width:400px){

	.sidebar1{float: center;
	width:100%;
	height: 200px;}
	.movie {width:250px;
	height: 125px;}
}